@import '../common.scss';

#modal {
	display: none;

	&.active {
		display: block;
	}
}

#mask {
	background: RGBA(0,0,0,0.4);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#addbox {
	background: #fff;
	border: 3px solid $blue;
	left: 50%;
	padding: 15px 30px;
	position: absolute;
	top: 175px;
	transform: translateX(-50%);
	width: 600px;
	z-index: 200;

	&::before {
		background: $blue;
		border-radius: 50%;
		content: ' ';
		display: block;
		height: 20px;
		left: 50%;
		position: relative;
		top: 0px;
		width: 20px;
		transform: translateX(-50%) translateY(-27px);
		z-index: 199;
	}

	h4 {
		color: $blue;
		font-weight: bold;
		font-size: 1.5em;
		display: block;
		text-align: left;
		text-shadow: 1px 1px 3px #ccc;
		border-bottom: 1px solid $blue;
    	padding-bottom: 10px;
	}

	.form {
		margin: 50px 0 0;
		
		.field-doubleline {
			display: block;
			width: 100%;
			margin-bottom:25px;
		}

		label {
			color: $blue;
			cursor: pointer;
			display: block;
			float: left;
			font-weight: bold;
			width: 130px;			
		}

		.doubleField {
			margin-right: 20px;
			width: 150px;
		}

		input[type="checkbox"] {
			margin: 2px 8px 2px 0;
		}

		input, select {
			background: transparent;
			border: none;
			border-bottom: 1px dashed $blue;
			color: $blue;
			display: block;
			float: left;
			outline: none;
			text-align: center;
		}

		textarea {
			border: 1px dashed $blue;
		}

		select option {
			text-align: center;
			color: $blue;
		}

		button {
			background: $blue;
			border: none;
			border-radius: 5px;
			box-shadow: 1px 1px 3px #999;
			color: #fff;
			cursor: pointer;
			display: block;
			margin-top: 35px;
			margin-bottom: 21px;
			float: right;
			padding: 10px 20px;

			&:hover { 
				box-shadow: none;
				margin-top: 36px;
			}
		}
	}
}



#msg {
	text-align: center;
	font-size: 1.2em;
	color: #459951;
	font-weight: bold;
	text-decoration: underline;
}

::-webkit-input-placeholder {
	color: $blue;
}

:-moz-placeholder { /* Firefox 18- */
	color: $blue;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: $blue;  
}

:-ms-input-placeholder {  
	color: $blue;
}
