.joblist {
	margin: 100px auto 0;
	list-style: none;
	width: 600px;
}

.joblist * {
	box-sizing: border-box;
}

.joblist li {
	display: block;
	list-style: none;
}

.joblist li header {
	background: #f2f2f2;
	cursor: pointer;
	display: block;
	opacity: 1;
	padding: 10px;
	transition: all 200ms ease-in-out;
}

.joblist li header:hover {
	opacity: 0.6;
}

.joblist li header h3 {
	float: left;
}

.joblist li header .published {
	color: #375cae;
	float: right;
	font-size: 0.9em;
	font-weight: bold;
	opacity: 0.5;
}

.joblist li .details {
	background: #fff;
	border: 1px solid transparent;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0 10px;
	width: 90%;
	transition: all 200ms ease-in-out;
}

.joblist li .details.show {
	border: 1px solid #f2f2f2;
	border-top: none;
	margin-bottom: 10px;
	max-height: 300px;
	padding: 10px;
}

.joblist li .details dd,
.joblist li .details dt {
	display: block;
}

.joblist li .details dd {
	color: #375cae;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 15px;
}

.joblist li .details dt {
	font-size: 0.8em;
}

.addBtn {
	background: #375cae;
	border: none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	font-size: 1.8em;
	height: 1.8em;
	left: 50%;
	line-height: 1.8em;
	margin-top: 90px;
	outline: none;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transform-origin: 0 0;
	transition: all 200ms ease-in-out;
	width: 1.8em;
	z-index: 300;
}

.addBtn:hover {
	background: #459951;
}

.addBtn.active {
	background: #db4551;
	transform: rotate(45deg);
}
